<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIF4</title>
</head>

<body>
    <h1 style="color:blue">It Is <%=kindOfDay%>
    <h2>Please Insert Your Details:</h2>
    <form action="/UIF4" method="post">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="secondName" placeholder="Second Name">
        <input type="text" name="email" placeholder="Email">
        <button type="submit">Submit</button>
    </form>
</body>

</html>